{% extends 'layout.njk' %}

{% block container %}
        <p>ID: {{ user.id }}</p><br/>
        Username: {{ user.username }}<br/>
        Name: {{ user.displayName }}<br/>
        <a href = '/logout'>Log out</a>
{% endblock %}
