{% extends 'layout.njk' %}

{% block style %}
#essay-text {
    fill : black;
}
{% endblock %}

{% block container %}
<div class = 'row'>
    <p class = 'lead'>Tell us about yourself, your financial need, and enrollment in the program.</p>
</div>
<div class = 'row'>
    <form>
        <textarea id = 'essay' class = 'form-control' rows = 20></textarea>
    </form>
</div>
{% endblock %}
