<!DOCTYPE html>
<html lang = 'en'>

<head>
    <meta    charset = 'utf-8'>
    <meta       name = 'viewport'        content = 'width = device-width, initial-scale = 1'>
    <meta       name = 'description'     content = 'Scholarship Application'>
    <meta       name = 'author'          content = 'Peter Ogilvie'>
    <title>{{ title }}</title>
    <style>
        @import url('bootstrap.css');
    </style>
    <script src = '/jquery.js'></script>
    <script src = '/bootstrap.js'></script>
</head>
<body>
    <div class = 'container'>

     {% block container %}{% endblock %}

    </div>
</body>
</html>
