doctype html
html
  head
    title= title
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    link(href = '/bootstrap.css', rel = 'stylesheet', media = 'screen')
    link(rel = 'stylesheet', href = '/style.css')
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    block content

  script(src = '/jquery.js')
  script(src = '/bootstrap.js')
