<!DOCTYPE html>
<html lang = 'en'>

<head>
    <meta    charset = 'utf-8'>
    <meta       name = 'viewport'        content = 'width = device-width, initial-scale = 1'>
    <meta       name = 'description'     content = 'Scholarship Application'>
    <meta       name = 'author'          content = 'Peter Ogilvie'>
    <title>{{ title }}</title>
    <style>
        @import url('bootstrap.css');
        body {
            padding-top : 50px;
        }
        .row {
              padding-top : 25px;
        }

        rect {
             fill-opacity : 0.2;
                     fill : rgb(50,50,50);
        }
        text {
              font-family : 'Helvetica';
                font-size : 22px;
                     fill : white;
        }
        {%block style %}{% endblock %}
    </style>
    <script src = '/jquery.js'></script>
    <script src = '/bootstrap.js'></script>
</head>
<body>
    <div class = 'container'>

        <svg width = '1200' height = '120' viewbox = '0 0 1200 120'>

            <a xlink:href = '/about'>
                <rect     x = '0'        y = '10'
                      width = '220' height = '50'
                         rx = '15'      ry = '15'/>
                  <text  id = 'about-text' x = '60'  y = '43'>About Me</text>
            </a>
            <a xlink:href = '/goal'>
                <rect     x = '230'      y = '10'
                      width = '220' height = '50'
                         rx = '15'      ry = '15'/>
                <text  id = 'goal-text'  x = '320' y = '43'>Goal</text>
            </a>
            <a xlink:href = '/plan'>
                <rect     x = '460'      y = '10'
                      width = '220' height = '50'
                         rx = '15'      ry = '15'/>
                <text  id = 'plan-text'  x = '545' y = '43'>Plan</text>
            </a>
            <a xlink:href = '/need'>
                <rect     x = '690'      y = '10'
                      width = '220' height = '50'
                         rx = '15'      ry = '15'/>
                <text  id = 'need-text'  x = '770' y = '43'>Need</text>
            </a>
            <a xlink:href = '/essay'>
                <rect     x = '920'      y = '10'
                      width = '220' height = '50'
                         rx = '15'      ry = '15'/>
                <text  id = 'essay-text' x = '990' y = '43'>Essay</text>
            </a>
        </svg>

     {% block container %}{% endblock %}

    </div>
</body>
</html>
