{% extends 'simple.njk' %}

{% block container %}

    <h1>Login</h1><br>

        <form action = '/login' method = 'post' style = 'max-width: 300px'>
        	<div class = 'form-group'>
        	       <label for = 'uid'>User Name</label>
        	       <input id = 'uid' class = 'form-control' name = 'username' type = 'text' name = 'username' placeholder = 'User Name'/><br/>
        	</div>
        	<div class = 'form-group'>
        	       <label for = 'pid'>Password</label>
        	       <input id = 'pid' class = 'form-control' name = 'password' type = 'password' name = 'password' placeholder = 'Password'/>
        	</div>
        	        <button type = 'submit' class = 'btn btn-primary'>Submit</button>
        </form>

{% endblock %}
