{% extends 'layout.njk' %}

{% block style %}
#need-text {
    fill : black;
}
{% endblock %}

{% block container %}
<table class = 'table'>
    <tr>
        <th>#</th><th>Who</th><th>Hours</th><th>Wage</th><th>Monthly Gross</th>
    </tr>
    <tr>
        <td>1</td><td>Spouse</td><td>40</td><td>$12.25</td><td>$2123.00</td>
    </tr>
</table>
{% endblock %}
